
body{
    width: 600px;
    margin: 0 auto;
    background-image: url(../img/saude.jpg);

}
header{
    background-color:  rgba(109, 176, 202, 0.966);
  }
  .text{
    color: white;
    height: 100%;
    float: center;
    margin-top: 25px;
  }

.menu{
    margin-top: 30px;
    height: 500px;
    background-color: black;
    background-color: rgba(109, 176, 202, 0.966);
    
}

.naruto {
    justify-content: flex-start;
    border-radius: 20px;
    float: left;
}

.menuItem {
  width: 120px;
  margin: 20px 40px;
  padding-top: 5px;  


}

.menuItem a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  
}

.conteudoMenu {
  padding-top: 70px;
  padding-left: 10px;
}

.sair{
  
  text-align: end;

}





