body{
    width: 600px;
    margin: 0 auto;
    color: white;
    background-image: url(../img/saude.jpg);
   
}

h1 {
    text-align: center;
    color:white;
    margin-top: 100px;

}



Div.container {
    margin-top: 100px;
    height: 500px;
    width: 100vh;
    background-color: rgba(109, 176, 202, 0.685);
}
